<section>
	<div class="page-wrap">
		<div class="form-box x-pad-1_0 y-pad-1_0 center-justify mid-blue-bg border-radius-0_5">
			<p class="bold font-size-2_0">404 Error</p>
			<p class="bold">The requested page could not be found.</p>
		</div>
	</div>
</section>